@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


/* Global Values */
/* -------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}
/* Reusable */
/* Colors ,shadows and styles*/

/* ------- */

:root {
  --blue: #124076;
  --white: #ffffff;
  --green: #7f9f80;
  --yellow: #f9e897;
  --orange: #ffc374;
}

.blue {
  color: #124076;
}

.green {
  color: var(--green);
}

.yellow {
  color: #f9e897;
}

.orange {
  color: #ffc374;
}
/* ------- */
.blue-bg {
  background-color: var(--blue);
}

.green-bg {
  background-color: var(--green);
}

.yellow-bg {
  background-color: #f9e897;
}

.orange-bg {
  background-color: #ffc374;
}

/* Content */
/* -------------------------------------------------- */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
}

.logo {
  border: 1px solid var(--green);
  border-radius: 50%;
}

.logo:hover {
  border: 1px solid #f9e897;
  transition: 0.4s;
}

.nav-bar .logo .logo-img {
  max-height: 100px;
  width: auto;
}

.nav-bar ul li a {
  font-size: 17px;
  color: #eeeeee;
  font-weight: 300;
}

.nav-bar ul li:not(:last-child) {
  margin-right: 15px;
}

/* Navbar li elements: Home , Paintings, About, Contact */
.nav-bar li a:hover {
  color: #f9e897;
}

/* Main */
/* ------------------------------------ */

#hero {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('./img/bg/art-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-container {
  width: 90%;
}

.main-section {
  height: calc(80vh);
}
.all-paintings {
  font-size: 17px;
  color: #eeeeee;
  font-weight: 300;
  text-decoration: underline;
}

.all-paintings:hover {
  color: #f9e897;
}

/* OWL NAVBAR */
#owl img {
  border: 5px solid white;
  border-radius: 10px;
}
.owl-nav {
  display: none;
}

.owl-dots {
  display: none;
}

/* Footer */
footer .container a i:hover {
  color: white;
}

/* ------------------- */
@keyframes imgRight-load {
  0% {
    transform: translateX(+100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes imgLeft-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Media queries */
/* ------------------- */

/* navbar responsive after 600px (MOBILE FIRST)*/

@media only screen and (min-width: 600px) {
  .nav-bar {
    flex-direction: row;
    padding-bottom: 0px;
  }

  .nav-bar ul li a {
    font-size: 19px;
  }

  .all-paintings {
    font-size: 19px;
  }
  .main-section {
    height: calc(75vh);
  }

  #owl {
    width: 90%;
  }

}

@media only screen and (min-width: 768px) {
  .text-container {
    width: 65%;
  }
}