@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* Global Values */
/* -------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  /* line-height: 20px; */

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}
/* Reusable */
/* Colors ,shadows and styles*/

/* ------- */

:root {
  --blue: #124076;
  --white: #ffffff;
  --green: #7f9f80;
  --yellow: #f9e897;
  --orange: #ffc374;
}

.blue {
  color: #124076;
}

.green {
  color: var(--green);
}

.yellow {
  color: #f9e897;
}

.orange {
  color: #ffc374;
}
/* ------- */
.blue-bg {
  background-color: var(--blue);
}

.green-bg {
  background-color: var(--green);
}

.yellow-bg {
  background-color: #f9e897;
}

.orange-bg {
  background-color: #ffc374;
}

/* Content */
/* -------------------------------------------------- */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo {
  border: 1px solid var(--green);
  border-radius: 50%;
  margin: 10px;
}

.logo:hover {
  border: 1px solid #f9e897;
  transition: 0.4s;
}

.nav-bar .logo .logo-img {
  max-height: 100px;
  width: auto;
}

.nav-bar ul li a {
  font-size: 17px;
  color: #eeeeee;
  font-weight: 300;
}

.nav-bar ul li:not(:last-child) {
  margin-right: 15px;
}

/* Navbar li elements: Home , Paintings, About, Contact */
.nav-bar li a:hover {
  color: #f9e897;
}

/* Main */
/* ------------------------------------ */
.home-color {
  background: linear-gradient(
    to bottom,
    #7f9f80,
    #8ea97c,
    #a2b177,
    #bbb972,
    #d6be70,
    #e3c373,
    #f0c877,
    #fdcd7b,
    #fcd481,
    #fbdb88,
    #fae18f,
    #f9e897
  ) no-repeat;
}

.main-section {
  height: calc(100vh - 147.5px);
}

.text-container{
  font-family: 'Work Sans';
  font-size: 22px;
  border-radius: 30px;
  height: 50%;
  width: 90%;
  transition: 0.2s ease-in-out;

}

.text-container h1 span {
  color: var(--green);
  cursor: pointer;
}

.text-container h1 span:hover {
  border-bottom: 2px solid white;
}

.text-container:hover {
  transform: scale(1.04);
}



/* -------------------Paintings*/
.slider-images {
  display: flex;
  align-items: center;
  gap: 21px;
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slider-img {
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}

.slider-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  pointer-events: none; 
  z-index: 0; 
}

.slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
  height: 400px;
}

.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(7) {
  height: 480px;
}

.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(6) {
  height: 560px;
}

.slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5) {
  height: 640px;
}

/* .slider-images .slider-img {
  height: 640px;
} */

.slider-img h1 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);
  transition: 0.7s ease;
  z-index: 3;
}

.details {
  position: absolute;
  bottom: 43px;
  left: 43px;
}

.details h2 {
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.details p {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.slider-img.active {
  width: 100%!important;
  height: 640px !important;
  overflow: hidden;
}

.slider-img.active h1{
  display: none;
}

.slider-img.active .details p, .slider-img.active .details h2 {
  display: block;
}

/* ------------------- */
@keyframes imgRight-load {
  0% {
    transform: translateX(+100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes imgLeft-load {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Media queries */
/* ------------------- */

/* navbar responsive after 600px (MOBILE FIRST)*/

@media only screen and (min-width: 600px) {
  .nav-bar {
    flex-direction: row;
    padding-bottom: 0px;
  }

  .nav-bar ul li a {
    font-size: 19px;
  }

  .main-section {
    height: calc(100vh - 122px);
  }
}
